<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="email-container">
        <div class="header">
            <h1>Password Reset</h1>
        </div>
        <div class="content">
            <h2>Hello,</h2>
            <p>We received a request to reset your password. If you didn't make this request, you can safely ignore this
                email.</p>
            <p>To reset your password, click the button below:</p>
            <a href="{{passwordResetLink}}" class="btn">Reset Password</a>
            <p class="spacer"></p>
            <p>If you have any questions or need further assistance, please contact our support team.</p>
        </div>
    </div>
</body>

</html>